extends layout

block scripts
  script(src=base + "/javascripts/admin.js")

block content
  .jumbotron
    h1= title
    if docs && docs.length
        h2 Ongoing Check-ins
        table#ongoing
          tr
            th Event id
            th Date started
            th View event
            th Stop check-in
          each doc in docs
            tr
              td= doc.id
              td= doc.date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' })
              td: form(action=base + '/check-in', method="post") 
                input.hidden(type="text", name="id", value= doc.id)
                button.btn.btn-warning.btn-sm(type="submit") View Event Check-ins
              td: form(action=base + `/stop-check-in/${doc.id}`, method="post"): button.btn.btn-success.btn-sm(type="submit") Stop Event Check-ins

    h2 Create a new event
    form#check-in-form(action=base + "/check-in", method="post")
      .lead
        .form-group.text-left
          label.control-label(for="check-in") Event id:
          input#id.form-control(type="text", name="id", required) 
        .form-group
          button.btn.btn-primary(type="submit") Create
          button#history-button.btn.btn-warning View event check-ins

    form(action=base + "/history", method="post")
        button.btn.btn-success View all past events
  

