extends layout

block basetag
  -var base= base_dir || '.';

block scripts
  script(src=base + "/javascripts/history.js")

block content
  .jumbotron
    h1.margin-bottom= title
    each doc in docs
      div
        h2 Event name: 
          span= doc.id
        h4 Date: 
          span= doc.date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' })
        if doc.users.length
          p.strong Users checked-in:
          table.margin-btm-md.check-in-table
            tr 
              th Name
              th Id
            each user in doc.users
              tr
                td= user.name
                td= user.userId
        else
          p no users checked in
        button.btn.btn-danger(onclick= "deleteCheckIn('" + doc._id.toString() + "')") Delete
      hr
      br
    else
      p no previous check-ins

    form(action=base + "/admin", method="post")
        button.btn.btn-info(type="submit") Back to admin section
