doctype html
block basetag
  -var base=".";

html
  head
    title #{title} | Stephen's check-in app

    //- jquery
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    
    //- boostrap
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    
    link(rel="stylesheet", href=base + "/stylesheets/jumbotron-narrow.css")
    link(rel='stylesheet', href=base + '/stylesheets/style.css')

    script.
      var base= "#{base}";
    block scripts
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li(role="presentation", class= title === 'Student check-in' || title === 'Check-in complete' ? undefined : 'active'): a(href=base + "/") Login
            li(role="presentation", class= title === 'Student check-in' || title === 'Check-in complete' ? 'active' : undefined): a(href=base + "/student-check-in") Student check-in
        h3.text-muted: a(href=base + "/") Stephen's check-in
    
      block content
